body {
  background-image: url("../Images/green2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

fieldset,
table {
  background-color: rgb(185, 245, 179);
  color: rgb(15, 80, 40);
  font-family: Courier New, courier, monospace;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
}

fieldset {
  border: 1px solid #ccc;
  border-radius: 1em;
  margin: 0 auto;
  padding: 1em;
  width: 400px;
}

label {
  display: inline-block;
  left: -9999px;
  position: absolute;
  text-align: right;
  top: -9999px;
  width: 90px;
}

input,
textarea {
  /* Match form field borders */
  border: 1px solid #999;
  border-radius: 25px;
  box-shadow: 1px 0.5px #888;
  box-sizing: border-box;

  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em Courier New, courier, monospace;

  /* Uniform text field size */
  width: 300px;
}

input:focus,
.button {
  /* Align buttons with the text fields */
  padding-left: 10px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  font-family: Courier New, courier, monospace;
  margin-left: 0.5em;
}
